:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
body{
  background-color: #FBF0F1;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #C83E4D;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;

}

html, body {
  margin: 0;
  width: 100%;
  height: 100%
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.fc{
  display: flex;
  flex-direction: column;
}
.fr{
    display: flex;
    flex-direction: row;
}
.g1{
  gap: 1rem;
}
.g2{
    gap: 2rem;
}
.g3{
    gap: 3rem;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}










.App {
  font-family: Arial, sans-serif;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: row;

}

.status {
  margin: 20px;
}

.realization-card {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  aspect-ratio: 9/16;
  height: 80vh;
  max-width: 90vw;
  text-align: center;
  background-color: #fff;
  color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.realization-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 1;
}
.realization-info button{
  transition: background-color 0.2s;
}
.realization-info button:hover{
  background-color: #803039;
}
.realization-card div.shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 70%);
    z-index: 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.realization-info {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1.5rem;
  z-index: 3;
  color:white;
  text-align: left;
}
.realization-info h2{
  line-height: 2rem;
}

.realization-info p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-info p{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.realization-buttons{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.see-more{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 150px;
  background-color: #C83E4D;
}
.add-to-chat{
  background-color: #ffafaf;
  border: 2px solid #C83E4D;
  color: black;
}
.actions button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.actions{
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.actions button:hover {
  opacity: 0.6;
}

.status {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: -webkit-fill-available;
}
.actions button{
  background-color: white;
  width: 4rem;
  height: 4rem;
  transition: background-color 0.2s;
}
.nope {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dislike{
  font-size: 2rem;
}
.like{
  font-size: 2rem;
}
.superlike{
}
.dislike:disabled, .like:disabled, .superlike:disabled, .nope:disabled{
  background-color: #969595;
}
.dislike:disabled img, .like:disabled img, .superlike:disabled img{
  opacity: 0.5;
}

#reset{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  opacity: 0.2;
  z-index: 2;
}
.mt-a{
    margin-top: auto;
}
.chat{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  flex-shrink: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.p1{
  padding: 1rem;
}
.g0-5{
  gap: 0.5rem;
}
.g0-25{
  gap: 0.25rem;
}
.ta-l{
    text-align: left;

}
input[type=text], input[type=number], input[type=url], input[type=email], input[type=tel], input[type=password], input[type=datetime-local], input[type=date], textarea, select, .inputs {
  color: black;
  width: 100%;
  padding: 0px 1em;
  border-radius: 5px;
  height: 2.5em;
  /* border: 1px solid rgb(200, 200, 200); */
  border: 1.5px solid lightgray;
  font-size: 16px;
  background-color: white;
}

.status.realizations{
  width: 100%;
}
.chats{
  padding: 0.5rem;
}
.chats li{
  display: flex;
  gap: 0.5rem;
}
.chats li img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ws-nw {
    white-space: nowrap;
}

.fw-w{
    flex-wrap: wrap;
}
.title{
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  background-color: #C83E4D;
  color: white;
}
.tag{
  padding: 0 1rem;
  border: 2px solid #C83E4D;
  border-radius: 1.5rem;
}
.project-detail-item{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #F6F6F6;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}
.jc-sb{
  justify-content: space-between;
}
.jc-c{
    justify-content: center;

}
.ai-c{
    align-items: center;
}
.ai-fs{
    align-items: flex-start;
}
.status.realizations{
  width: calc(100% - 300px);
  height: 100%;
}

.realization-details{
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
    gap: 1rem;
  overflow: scroll;
}
.realization-details .slider{
  width: 500px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 1rem;
  overflow: hidden;

}
.realization-details .slider img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-detail{
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.messages{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bot-message, .user-message{
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 80%;
}
.bot-message{
  background-color: #C83E4D;
  color: white;
  margin-right: auto;
}
.user-message{
    background-color: #818181;
    color: white;
margin-left: auto;
}
.question-buttons{
  margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.chat-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  background-color: #efefef;
}
.typing {
  font-style: italic;
  color: #ffffff;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}


.tiblock {
  align-items: center;
  display: flex;
  height: 17px;
}

.ticontainer .tidot {
  background-color: #ffffff;
}

.tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation{
  0%{
    transform: translateY(0px);
    -webkit-transform:translateY(0px)
  }
  28%{
    transform: translateY(-5px);
    -webkit-transform:translateY(-5px)
  }
  44%{
    transform: translateY(0px);
    -webkit-transform:translateY(0px)
  }
}

.tidot:nth-child(1){
  -webkit-animation-delay:200ms;
}
.tidot:nth-child(2){
  -webkit-animation-delay:300ms;
}
.tidot:nth-child(3){
  -webkit-animation-delay:400ms;
}


.chat-session{
  display: flex;
  gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.chat-session:hover{
  background-color: #e7e7e7;
}
.chat-session img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}


.display-mobile{
  display: none;
}
.back-to-chat-list{
  z-index: 6;
  padding: 0.7em 1.2em;
}

button:disabled{
  background-color: #969595;
  cursor: not-allowed;
}

.text-container {
  display: flex; /* Keeps text inline and allows wrapping */
  flex-wrap: wrap; /* Allows elements to wrap onto the next line */
  align-items: baseline; /* Keeps text aligned nicely */
  gap: 0.25rem; /* Adjust the gap as needed */
  font-size: 1rem;
  color: #000; /* Default text color */
}

.highlight {
  color: #C83E4D; /* Highlight color */
  font-weight: bold; /* Optional: if you want the highlighted text to be bold */
  /* Remove any block-like behavior */
  display: inline; /* Ensures it doesn’t act like a block */
}



@media (max-width: 1200px) {
  .realization-details{
    flex-direction: column;
    gap: 1rem;
  }
  .realization-details .slider{
    width: 100%;
    height: 250px;
  }
  .results{
    padding-top:2.5rem!important;
  }
  .results img{
    width: 5rem!important;
  }
  .results h1{
    font-size: 2rem;
  }
  .results .preferences{
    gap: 1.5rem;
    font-size: 0.8rem;
  }
  .results .preference{
    gap: 0
  }
}
/* on mobile */
@media (max-width: 780px) {
  .quiz-answers{
    overflow-y: scroll;
  }
  .quiz-answers h2{
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .quiz-answers .answer{
    padding: 0.6rem 0.3rem!important;
    border-radius: 0.5rem!important;
  }
  .display-mobile{
    display: flex;
  }
  .mobile-menu{
    position: absolute;
    z-index: 4;
    top:1rem;
    left: 1rem;
  }
  .chat{
    position: fixed;
    bottom: 0;
    top:0;
    z-index: 7;
    display: none;
  }
  .chat.open{
    display: flex;
  }
  .status.realizations{
    width: 100%;
  }
  .modale-container{
    margin: 2rem
  }
  .mouse-indicator{
    scale: 0.7;
  }
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer input{
  display: none;
}
.quiz-answers{
  justify-content: space-evenly;
  cursor: default;
  padding-top: 0.5rem;
}
.quiz-answers .answer{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  color: #1a1a1a;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.quiz-answers .answer:hover{
  background-color: #cbcbcb;
}
.card-content{
  height: 100%;
}
.quiz-card{
  display: flex;
    flex-direction: column;
}
.quiz-card h2{
  color: black;
  text-align: center;
}
.o0-5{
  opacity: 0.5;
}

.slick-slider, .slick-list, .slick-track, .slick-slide, .slick-slide > div, .slick-slide > div > div, .slick-slide >div > div > img{
  height: 100%!important;
}
.back-button{
  z-index: 4;
  right: 1rem;
}


.results {
  font-family: Arial, sans-serif;
  margin: 10px;
}

.preference {
  margin-bottom: 10px;
}

.progress-bar-container {
  background-color: #e0e0e0;
  border-radius: 5rem;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  width: 0;
  height: 20px;
  border-radius: 5rem;
  transition: width 0.5s ease-in-out;
}

.results{
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  padding-top: 4rem;
}
.results img{
  position: absolute;
    top: 0;
transform: translateY(-50%);
}
.status.results-container{

}
.contact-students img{
  border:1px solid #C83E4D;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 0;
}
.startingScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #C83E4D;
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Set initial opacity to 1 */
  opacity: 1;
}

.startingScreen img {
  width: 50%;
  max-width: 20rem;
  /* Animation to pulse and then slide down */
  animation: pulse 0.8s ease-in-out 2,
  slideDown 1s ease-out 1.6s;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(130vh) scale(0.5) rotate(90deg);
  }
}

/* Additional keyframes for fading out the screen */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cardContainer{
  position: relative;
  height: 100%;
}
.realization-card.realization-only{
  user-select: none;
  position: absolute;
  top: 48%;
  left: 50%;
  height: 75vh;
  transform: translate(-50%, -50%);
  translate: -50% -50%;
}

.placeholder-video{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0.5rem;
  background-color: #b9b9b9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}